html {
  height: 100%;
}

body {
  background-color: #F1F1F1;
  color: #1D1D1D;
  height: 100%;
  margin: 0;
  font-family: 'Roboto Mono', monospace, sans-serif;
}

header {
  padding: 1.5% 2.5%;
  border-bottom: 10px solid #1D1D1D;
}

h1 {
  font-family: Apercu;
  font-size: 3rem;
  margin: 0 0 0.2em;
}

h2.data–name {
  font-size: 1.3rem;
  padding: 4% 2.5%;
  margin: 0;
}

#waiting {
  padding: 1.5% 2.5%;
  border-top: 1px solid #1D1D1D;
  width: 100%;
}

#content {
  display: flex;
  height: 100%;
  width: 100%;
}

.half {
  flex: 1 auto;
  height: 100%;
  min-width: 50%;
}

.half:nth-child(odd) {
  background-color: #1D1D1D;
  color: #F1F1F1;
}

.data {
  font-size: 3rem;
	word-wrap: break-word;
	padding-bottom: 2rem;
  padding: 1.5% 2.5%;
  margin: 0 2.5%;
}

.data–time {
  margin-top: 3rem;
  font-size: 0.85rem;
}

.logo {
  position: fixed;
  height: 50px;
  width: 50px;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
}
